*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0C363B;
}

#uploader{
    width: 900px;
    background-color: #FF8C40;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding:20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

#uploader img{
    width: 100px;
    margin: 10px auto;
}

/* #uploader:hover{
    transform: scale(1.05);
    transition: .5s;
    opacity: 1.8; 
} */

#uploader img:hover{
    transform: scale(1.1);
    transition: .5s;
    opacity: 1.8;
}

#upload{
    display: none;
}

#gallery{
    width: 900px;
    margin: 20px auto;
    columns: 3 250px;
}

.gallery-img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}